<div class="pros-cons-table">
  <!-- Pros and Cons Grid -->
  <div class="pros-cons-grid">
    <!-- Pros Column -->
    <div class="pros-column">
      <div class="column-header">
        <h3 class="column-title">{{ prosTitle }}</h3>
      </div>
      <div class="column-content">
        @for (item of pros; track item.text) {
          <div class="pros-item">
            <div class="check-icon-wrapper">
              <img src="/icons/check.svg" alt="Check" class="check-icon" />
            </div>
            <span class="item-text">{{ item.text }}</span>
          </div>
        }
      </div>
    </div>

    <!-- Cons Column -->
    <div class="cons-column">
      <div class="column-header">
        <h3 class="column-title">{{ consTitle }}</h3>
      </div>
      <div class="column-content">
        @for (item of cons; track item.text) {
          <div class="cons-item">
            <div class="cross-icon-wrapper">
              <img src="/icons/cross.svg" alt="Cross" class="cross-icon" />
            </div>
            <span class="item-text">{{ item.text }}</span>
          </div>
        }
      </div>
    </div>

  </div>
</div>
