@if (title()) {
  <h3 class="pros-title">{{ title() }}</h3>
}

<ul class="pros-list">
  @for (item of items(); track item.title) {
    <li class="pros-item">
      <div class="pros-icon">
        <svg viewBox="0 0 24 24" fill="currentColor" width="20" height="20">
          <path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"/>
        </svg>
      </div>

      <div class="pros-content">
        <strong class="pros-item-title">{{ item.title }}</strong>
        {{ item.description }}
      </div>
    </li>
  }
</ul>
